<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script defer src="/webjars/jquery/jquery.min.js"></script>
    <script defer src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <header>
            <h1>Welcome to Course and Students Management</h1>
        </header>

        <nav>
            <ul>
                <li><a th:href="@{/api/main}" class="button">List of Courses and students</a></li>
                <li><a th:href="@{/register}" class="button">Register</a></li>
                <li><a th:href="@{/login}" class="button">Login</a></li>
            </ul>
        </nav>
    </div>
    <footer class="text-center">
    </footer>
</body>
</html>
